/* --------------------------------------------- CSS RESET -------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}

/* ----------------------------------------------- HTML5 display-role reset for older browsers ----------------- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --------------------------------------- CSS STYLE --------------------------------------- */
:root {
  --brown: #9D7E5F;
  --brown-light: #eac29b;
  --green: #53694F;
  --green-light: #a1e897;
  --purple: #E5D5FF;
  --krem: #F6F1E5;
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--brown);
}

span {
  font-weight: 900;
}

body {
  background-image: linear-gradient(to right, var(--green) 0%, var(--green) 50%, var(--brown) 50%, var(--brown) 100%);
  font-family: 'Roboto Slab', serif;
}

.container {
  margin: 10px 20px;
  height: 98.40vh;
}

/* -------------------------------------------- Start Header Style --------------------------------------------*/

/* Start Edit General Navbar */
header {
  position: sticky;
  top: 0;
  width: 98%;
  z-index: 999;
  transition: background-color 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.search .icon {
  position: absolute;
  top: 0.985rem;
  left: 1.2rem;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
}

.search .icon::before {
  content: '';
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid #eaeaea;
  border-radius: 50%;
  transform: translate(-0.125rem, -0.125rem);
}

.search .icon::after {
  content: '';
  position: absolute;
  width: 0.125rem;
  height: 0.375rem;
  background-color: #eaeaea;
  transform: translate(0.3125rem, 0.3125rem) rotate(315deg);
}

.search .icon:hover {
  transform: scale(0.9);
  opacity: 70%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0.625rem 1.25rem;
  padding: 1rem;
  box-sizing: border-box;
}

nav p {
  cursor: pointer;
  position: relative;
}

nav p::after {
  content: '';
  position: absolute;
  height: 2px;
  border-radius: 30%;
  width: 0;
  bottom: -10px;
  transition: 0.3s;
}

nav p:hover::after {
  width: 100%;
}

/* End Edit General Navbar */
/* Start Element di dalam navbar */
.left-nav {
  margin-left: 1.875rem;
  display: flex;
  gap: 1.4375rem;
}

.left-nav p::after {
  left: 0;
  background-color: var(--brown-light);
}

.left-nav .mr-15 {
  margin-right: 3.75rem;
}

.center-nav h3 {
  font-weight: 300;
  font-size: 2.5rem;
  text-shadow: .5px 1px rgb(67, 57, 57);
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.5s ease;
}

.center-nav h3:hover {
  color: linear-gradient(to right, var(--brown-light) var(--green-light));
  text-shadow: 1px 1px rgb(109, 104, 104);
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition: all .3s ease-in-out;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 1.4375rem;
}

.right-nav span {
  font-weight: bold;
}

.right-nav p::after {
  right: 0;
  background-color: var(--green-light);
}

.pic-nav {
  width: 2.125rem;
  border-radius: 50%;
  cursor: pointer;
}

.profile:hover,
.pic-nav:hover {
  transform: scale(0.9);
  opacity: 80%;
}

.pic-nav.profile {
  border: 2px solid white;
}

.pic-nav.cart {
  width: 2.3125rem;
}

/* End Element di dalam navbar */
/* --------------------------------------------- End Header Style --------------------------------------------- */
/* --------------------------------------------- Start Hero Comp --------------------------------------------- */

main {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
}

.left-main {
  margin: 0px 30px;
  position: relative;
  display: grid;
  height: 85vh;
  grid-template-rows: auto auto auto;
  align-content: space-between;
}

.left-top--main {
  height: 6.25rem;
  margin-left: -3.125rem;
  margin-top: -1.875rem;
}

.left-top--main img {
  width: 9.375rem;
  cursor: pointer;
  background-image: none;
}

.left-middle--main {
  color: white;
}

.left-middle--main h1 {
  font-weight: 300;
  font-size: 4rem;
  margin-bottom: 2.325rem;
}

.left-middle--main p {
  font-size: 1rem;
  margin-bottom: 2.325rem;
  letter-spacing: 0.0625rem;
  line-height: 1.75rem;
}

.left-middle--main .btn {
  background-color: var(--purple);
  display: flex;
  border-radius: 5px;
  width: 11.875rem;
  height: 4.6875rem;
  box-sizing: border-box;
  padding: 0.9375rem;
  z-index: 100;
  cursor: pointer;
}

.left-middle--main .btn h3 {
  color: black;
  z-index: 100;
  letter-spacing: 0.125rem;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
}

.button-wrapper {
  position: relative;
}

.button-hover {
  position: relative;
  width: 11.875rem;
  height: 4.6875rem;
}

.left-middle--main .btn:hover h3 {
  box-shadow: #9D7E5F;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: white;
  z-index: -1;
  transition: 0.5s;
  top: 0;
  border-radius: 0 0 35% 35%;
}

.btn:hover::before {
  height: 100%;
  z-index: 99;
  color: var(--brown);
}

.left-middle--main .btn-shadow {
  position: absolute;
  top: 0.375rem;
  left: 0.375rem;
  z-index: -999;
  background-color: transparent;
  border: 1px solid white;
}

.left-bottom--main {
  align-items: center;
  gap: 1.375rem;
  display: flex;
  margin: 1.875rem 0;
}

.left-bottom--main .image {
  cursor: pointer;
  padding: 0.3125rem;
}

.left-bottom--main .image:hover {
  background-color: #282828;
  border-radius: 100%;
}

.left-bottom--main .image:active {
  transform: scale(0.9);
}

.left-bottom--main img {
  width: 1.875rem;
}

.left-bottom--main .locate {
  color: #F6F1E5;
  line-height: 1.5rem;
}

.center-main img {
  left: 50%;
  transform: translate(-50%, 0);
  width: 32%;
  position: absolute;
}

.right-main {
  margin: 0px 30px;
  position: relative;
  display: grid;
  height: 85vh;
  justify-content: end;
  align-content: space-between;
  grid-template-rows: auto auto auto;
}

.right-top--main {
  margin-top: 0.9375rem;
  margin-right: 3.125rem;
  color: white;
  text-align: end;
}

.right-middle--main .counter-icon {
  color: white;
  width: 320px;
  display: flex;
  align-items: center;
  position: relative;
}

.btn-counter {
  display: block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 30px 15px;
  transition: 0.4s ease;
  cursor: pointer;
}

.btn-counter:hover {
  border: 2px solid var(--purple);
  background-color: var(--purple);
}

.btn-counter:hover div {
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.btn-counter div {
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transform: rotate(45deg);
  left: 19px;
  top: 21px;
}

.btn-counter--prev {
  transform: rotate(-90deg);
}

.btn-counter--next {
  transform: rotate(90deg);
}

.right-middle--main .counter h1 {
  font-size: 60px;
  font-weight: 400;
  text-align: center;
}

.right-middle--main .counter p {
  letter-spacing: 3px;
  font-size: 26px;
  position: absolute;
  left: 236px;
  top: 58px;
}

.slider {
  width: 320px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 320px;
  height: 500px;
}

.navigation-manual {
  position: absolute;
  width: 320px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #F6F1E5;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: var(--green-light);
}

#radio1:checked~.first-slide {
  margin-left: 0;
}

#radio2:checked~.first-slide {
  margin-left: -20%;
}

#radio3:checked~.first-slide {
  margin-left: -40%;
}

#radio4:checked~.first-slide {
  margin-left: -60%;
}

#radio5:checked~.first-slide {
  margin-left: -80%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 320px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid var(--green-light);
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn-1 {
  background: var(--green-light);
}

#radio2:checked~.navigation-auto .auto-btn-2 {
  background: var(--green-light);
}

#radio3:checked~.navigation-auto .auto-btn-3 {
  background: var(--green-light);
}

#radio4:checked~.navigation-auto .auto-btn-4 {
  background: var(--green-light);
}

#radio5:checked~.navigation-auto .auto-btn-5 {
  background: var(--green-light);
}

.right-bottom--main {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: -3.4rem;
  gap: 1.25rem;
  color: var(--brown);
  margin-top: 1.25rem;
}

.right-bottom--main p {
  color: white;
}

.icon-sosmed {
  background-color: #F6F1E5;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 100%;
  display: flex;
  padding: 0.125rem;
}

.right-bottom--main a:hover .icon-sosmed {
  background-color: #dccdab;
}

.right-bottom--main a:active .icon-sosmed {
  transform: scale(0.9);
}

.right-bottom--main .icon-sosmed i {
  margin: auto;
}