* {
  box-sizing: border-box;
}

body {

  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
}

button {
  font-size: 35px;
  margin-bottom: 50px;
}

.header {
  padding: 80px;
  text-align: center;
  background: hsl(258, 60%, 51%);
  color: white;
  margin-bottom: 50px;
}

.header h1 {
  font-size: 50px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}


.navbar a:hover {
  background-color: #8a25a8;
  color: #000000;
}



