@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,200;1,300&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url(maxresdefault.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}   
.row{
    width:100%;
    padding:0px 80px;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    position: relative;
    z-index: 1;
}
.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10;
}
.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    padding: 10px 18px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    text-decoration: none ;
}
.navbar ul li a:hover {
    background-color: #5d88d5;
}
.navbar h1 {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
}
.content {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content h1 {
    font-size: 45px;
    color: #fff;
    font-weight: 400;
}

.content p {
    font-size: 16px;
    color: #fff;
}
